header{
    text-align: center;
    background: url(../pictures/manchester skyline.jpg);
    background-size: cover;
    color: black;
    font-family: 'Poppins', sans-serif;
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
ul{
    padding: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.5);
}

a{
    color: white;
}
h1{
    font-size: 70px;
}
img{
    margin: 30px 30px 30px 30px;
    border:7px solid black;
    border-radius: 20px;
}
.Manchester-col {
  background-image:url(../pictures/manchester skyline.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}


