img{
    max-width: 20%;
    height: auto;
}
body{
     background-image:url(../pictures/manchester skyline.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  
}
p{
    font-size: 20px;
}
ul{
    padding: 10px 10px 10px 10px;
    background: rgba(0,0,0,0.5);
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
a{
    color: white;
}
body{
    text-align: center;
}
.social {
  padding: 15px;
  margin: 5px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.social a{
  font-size: 30px;
  color: #F4FFFE;
  border-style: groove;
  border-color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  display: inline-block
}
.social a:hover {
  background-color: darkred;
  color: white;
  -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}
h2{
    text-decoration: underline;
}